@import "tailwindcss";
* {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
}

.btn {
  background-color: blue;
  padding: 0.2rem 1rem;
  color: white;
  font-weight: 600;
  font-size: 2rem;
  border-radius: 1rem;
}
.btn:hover {
  background-color: rgb(10, 217, 45);
  padding: 0.2rem 1rem;
  color: red;
  font-weight: 600;
  font-size: 2rem;
  border-radius: 1rem;
}
.modal-none {
  display: none;
}
@media (min-width: 768px) {
  .arrow {
    display: none;
  }
}
@media (max-width: 768px) {
  .none {
    display: none;
  }
}

.numbox::after {
  position: absolute;
  content: "+237";
  color: black;
  background-color: none;
  top: 10;
  right: -40%;
  font-size: 20px;
  font-weight: bold;
}

.box {
  /* display: none; */
  animation: animate 4s infinite alternate;
  box-shadow: blue 0 0 20px 10px;
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bold;
  z-index: 10;
}
.items-aside p {
  padding: 1rem;
  color: white;
  font-weight: bold;
}
.items-aside p:hover {
  background-color: blue;
  box-shadow: aqua 0 0 10px 10px;
  border-radius: 0.5rem;
}
@keyframes animate {
  0% {
    top: 0;
  }
  100% {
    top: 20%;
  }
}
